@model App.Marriage.Models.PersonMV.PersonViewModel
    <ul class="event-list" id="search-result">
        <li class="flex-responsive">
            <div class="event-thumbnail"><img class="img-as-bg" src="~/Content/theme-01/img/placeholders/800x800.png" alt=""></div>
            <div class="event-details animation-chain" data-animation="fadeInUp">
                <h3>Wedding Ceremony</h3>
                <ul class="event-info">
                    <li><span class="lnr lnr-map-marker"></span>ABC Hotel, 9999 Hobart St, Pittsburgh, PA, 15217</li>
                    <li><span class="lnr lnr-clock"></span>9AM - 10:30AM, Sep 15, 2016</li>
                </ul>
                <div class="desc">
                    <p>Lorem ipsum sit magna id efficitur Donec Nam ac augue, vehicula. Mollis mi ullamcorper. Mauris vel lorem, ultricies eu erat. Consectetur risus scelerisque.</p>
                </div>
                <div class="cta">
                    <a href="#" class="btn btn-primary btn-event-rsvp" data-event="wedding-ceremony">RSVP</a>
                    <a href="#" class="btn btn-primary">Get Driving Directions</a>
                </div>
            </div>
        </li>
        <li class="flex-responsive">
            <div class="event-thumbnail"><img class="img-as-bg" src="~/Content/theme-01/img/placeholders/800x800.png" alt=""></div>
            <div class="event-details animation-chain" data-animation="fadeInUp">
                <h3>Wedding Dinner</h3>
                <ul class="event-info">
                    <li><span class="lnr lnr-map-marker"></span>ABC Hotel, 9999 Hobart St, Pittsburgh, PA, 15217</li>
                    <li><span class="lnr lnr-clock"></span>9AM - 10:30AM, Sep 15, 2016</li>
                </ul>
                <div class="desc">
                    <p>Lorem ipsum sit magna id efficitur Donec Nam ac augue, vehicula. Mollis mi ullamcorper. Mauris vel lorem, ultricies eu erat. Consectetur risus scelerisque.</p>
                </div>
                <div class="cta">
                    <a href="#" class="btn btn-primary btn-event-rsvp" data-event="wedding-dinner">RSVP</a>
                    <a href="#" class="btn btn-primary">Get Driving Directions</a>
                </div>
            </div>
        </li>
        <li class="flex-responsive">
            <div class="event-thumbnail"><img class="img-as-bg" src="~/Content/theme-01/img/placeholders/800x800.png" alt=""></div>
            <div class="event-details animation-chain" data-animation="fadeInUp">
                <h3>Wedding Party</h3>
                <ul class="event-info">
                    <li><span class="lnr lnr-map-marker"></span>ABC Hotel, 9999 Hobart St, Pittsburgh, PA, 15217</li>
                    <li><span class="lnr lnr-clock"></span>9AM - 10:30AM, Sep 15, 2016</li>
                </ul>
                <div class="desc">
                    <p>Lorem ipsum sit magna id efficitur Donec Nam ac augue, vehicula. Mollis mi ullamcorper. Mauris vel lorem, ultricies eu erat. Consectetur risus scelerisque.</p>
                </div>
                <div class="cta">
                    <a href="#" class="btn btn-primary btn-event-rsvp" data-event="wedding-party">RSVP</a>
                    <a href="#" class="btn btn-primary">Get Driving Directions</a>
                </div>
            </div>
        </li>
    </ul>
