@{
    ViewBag.Title = "Unauthorized";
}

<h1> Unauthorized Access</h1>
<h6>@TempData["Caller"]</h6>
<div class="modal fade" tabindex="-1" role="dialog" id="successModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">الملف الشخصي</h4>
            </div>
            <div class="modal-body">
                <p style="color:#00FF00">تم حفظ بياناتك بنجاح&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">إغلاق</button>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script type="text/javascript" language="javascript">
    //$(function test() {
    //    $("#saveBtn").click(function () {
    //        var mycodition = true;

    //        if (mycodition)
    //            $('#myModal').modal('show');

    //    });
    //});

    //$(function () {
    //    $("#myButton").click(function () {
           
    //        $("#myMod").modal('show');
    //    });
    //});
    $(window).on('load', function () {
        var data = '@TempData["Caller"]';
        if (data == "PersonSaved") {
            $('#successModal').modal('show');
        }
    });



</script>