@{
    ViewBag.Title = "ControlPanel";
}
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<script type="text/javascript">
    function CustomButtonClick(s, e, url) {
        var key = s.GetRowKey(e.visibleIndex);
        if (e.buttonID === "detailsButton") {
            var destUrl = url + "/" + key;
            window.location.href = destUrl;
        }
        if (e.buttonID === "acceptButton") {
            popup.Show();
        }
        if (e.buttonID === "rejectButton") {
            popup.Show();
        }
    }

    function OnClickYes(s, e) {
        //GridView.DeleteRow(visibleIndex);
        popup.Hide();
    }
    function OnClickNo(s, e) {
        popup.Hide();
    }

</script>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            طلبات التسجيل
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> لوحة التحكم</a></li>
            <li class="active">طلبات التسجيل</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">جدول الطلبات التسجيل</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">


                        @Html.Action("RegisterRequestGVP")
                        @Html.DevExpress().PopupControl(settings =>
                        {
                            settings.Name = "popup";
                            settings.ShowHeader = true;
                            settings.AllowDragging = true;
                            settings.AllowResize = true;
                            settings.PopupAction = PopupAction.None;
                            settings.PopupElementID = "GridView";
                            //settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
                            settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;

                            settings.HeaderText = "هل تود الاستمرار";

                            settings.SetContent(() =>
                            {

                                @Html.DevExpress().Button(buttonSettings =>
                                {
                                    buttonSettings.Name = "ButtonYes";
                                    buttonSettings.Text = "نعم";
                                    buttonSettings.UseSubmitBehavior = false;
                                    buttonSettings.ClientSideEvents.Click = "OnClickYes";
                                }).Render();
                                @Html.DevExpress().Button(buttonSettings =>
                                {
                                    buttonSettings.Name = "ButtonNo";
                                    buttonSettings.Text = "لا";
                                    buttonSettings.UseSubmitBehavior = false;
                                    buttonSettings.ClientSideEvents.Click = "OnClickNo";
                                }).Render();

                            });
                        }).GetHtml()

                    </div>
                    <!-- /.box -->
                </div>
            </div>
        </div>
    </section>
</div>
