<h2 style="text-align: center; width: 100%;">Item Catalog</h2>
<i style="text-align: center; width: 100%;">
    ▐у ╚╟╬╩э╟╤ ╟с╟╙╞с╔ ╟с╩э ╩ц╧ ╟ф ╩╪╤═х╟ ┌сь ╟су╘╩╤▀"<br />
    ╦у ╟╓█╪ ┌сь ╥╤ ╟с╟╓╟▌╔
</i>
<br /><br />

@Html.Action("QuestionBankGVP")