<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
 <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>سكنا</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/theme-01/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/theme-01/bootstrap-rtl/css/bootstrap-rtl.css">
    <link rel="stylesheet" href="~/Content/theme-01/bootstrap-rtl/css/bootstrap-flipped.css">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,700%7CFira+Sans:400,400i,700,700i&subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/theme-01/fonts/linearicons/web-font/style.css">
    <link rel="stylesheet" href="~/Content/theme-01/fonts/et-line-font/style.css">
    <link rel="stylesheet" href="~/Content/theme-01/fonts/font-awesome-4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/theme-01/css/animate.css">
    <link rel="stylesheet" href="~/Content/theme-01/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/theme-01/js/vendor/owl.carousel.2.1.6/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/theme-01/js/vendor/owl.carousel.2.1.6/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/theme-01/css/big-day.css">

    <link rel="stylesheet" href="~/Content/theme-01/rtl.css">
    <script src="~/Content/theme-01/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body>
    @Html.Partial("layout-theme-01/_header-theme-01")

    @RenderBody()

    @Html.Partial("layout-theme-01/_footer-theme-01")

</body>
</html>
