@{
    ViewBag.Title = "ControlPanel";
}
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        لوحة التحكم
        <small>الاصدار 17.04.28</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> النظام</a></li>
        <li class="active">لوحة التحكم</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">

</section>
<!-- /.content -->