@using App.Marriage.Helpars;
@using App.Marriage.Utils
<header class="main-header">
    <nav class="navbar navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a href="/ControlPanel" class="navbar-brand"><b>لوحة </b> التحكم </a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse pull-left flip" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    @if (UserHelpar.CanDo(Permissons.AcceptUser))
                    {
                        <li><a href="/Articles"><i class="fa fa-file-text-o" aria-hidden="true"></i>&nbsp; المقالات</a></li>
                    }
                    @if (UserHelpar.CanDo(Permissons.AcceptUser))
                    {
                        <li><a href="/Categories"><i class="fa fa-file-text-o" aria-hidden="true"></i>&nbsp; التصنيفات</a></li>
                    }
                    @if (UserHelpar.CanDo(Permissons.AcceptUser))
                    {
                        <li><a href="/QuestionBank"><i class="fa fa-file-text-o" aria-hidden="true"></i>&nbsp; بنك الاسئلة</a></li>
                    }
                    @if (UserHelpar.CanDo(Permissons.RelationRequest))
                    {
                        <li><a href="/RelationRequests"><i class="fa fa-file-text-o" aria-hidden="true"></i>&nbsp; طلبات الخطبة</a></li>
                    }
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">ادارة المشتركين <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            @if (UserHelpar.CanDo(Permissons.Persons))
                            {
                                <li><a href="/Person/ShowAll"><i class="fa fa-file-text-o" aria-hidden="true"></i>&nbsp; المشتركين</a></li>
                            }
                            @if (UserHelpar.CanDo(Permissons.AcceptUser))
                            {
                                <li><a href="/RegisterRequest"><i class="fa fa-file-text-o" aria-hidden="true"></i>&nbsp; طلبات التسجيل</a></li>
                            }
                            @if (UserHelpar.CanDo(Permissons.AcceptUser))
                            {
                                <li><a href="/RelationRequests"><i class="fa fa-file-text-o" aria-hidden="true"></i>&nbsp; طلبات ارتباط</a></li>
                            }
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">ادارة المستخدمين <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            @if (UserHelpar.CanDo(Permissons.Users))
                            {
                                <li><a href="/User"><i class="fa fa-file-text-o" aria-hidden="true"></i>&nbsp;المستخدمين</a></li>
                            }
                            @if (UserHelpar.CanDo(Permissons.Role))
                            {
                                <li><a href="/RolePermissions"><i class="fa fa-file-text-o" aria-hidden="true"></i>&nbsp;الصلاحيات</a></li>
                            }
                        </ul>
                    </li>
                </ul>
                @*
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" id="navbar-search-input" placeholder="Search">
                    </div>
                </form>
                *@
            </div>
            <!-- /.navbar-collapse -->
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- Messages: style can be found in dropdown.less-->
                    <li class="dropdown messages-menu">
                        <!-- Menu toggle button -->
                        <a href="/" class="" data-toggle="">
                            <i class="fa fa-internet-explorer"></i> &nbsp;  
                            الموقع
                        </a>
                    </li>
                    @*
                     <!-- Messages: style can be found in dropdown.less-->
                    <li class="dropdown messages-menu">
                        <!-- Menu toggle button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-envelope-o"></i>
                            <span class="label label-success">4</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">لديك 4 رسائل جديدة</li>
                            <li>
                                <!-- inner menu: contains the messages -->
                                <ul class="menu">
                                    <li>
                                        <!-- start message -->
                                        <a href="#">
                                            <div class="pull-left flip">
                                                <!-- User Image -->
                                                <img src="~/Content/admin/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                            </div>
                                            <!-- Message title and timestamp -->
                                            <h4>
                                                رسالة من العضو
                                                <small><i class="fa fa-clock-o"></i> 5 دقائق</small>
                                            </h4>
                                            <!-- The message -->
                                            <p>او التواصل مع الاخت ______</p>
                                        </a>
                                    </li>
                                    <!-- end message -->
                                </ul>
                                <!-- /.menu -->
                            </li>
                            <li class="footer"><a href="#">شاهد الكل</a></li>
                        </ul>
                    </li>
                    <!-- /.messages-menu -->
                    <!-- Notifications Menu -->
                    <li class="dropdown notifications-menu">
                        <!-- Menu toggle button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="label label-warning">10</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">لديك 10 تنبيهات</li>
                            <li>
                                <!-- Inner Menu: contains the notifications -->
                                <ul class="menu">
                                    <li>
                                        <!-- start notification -->
                                        <a href="#">
                                            <i class="fa fa-users text-aqua"></i>تم اضافة 10 مستخدمين جدد
                                        </a>
                                    </li>
                                    <!-- end notification -->
                                </ul>
                            </li>
                            <li class="footer"><a href="#">شاهد الكل</a></li>
                        </ul>
                    </li>
                    <!-- Tasks Menu -->
                    <li class="dropdown tasks-menu">
                        <!-- Menu Toggle Button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-flag-o"></i>
                            <span class="label label-danger">9</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">لديك 9 طلبات في الانتظار</li>
                            <li>
                                <!-- Inner menu: contains the tasks -->
                                <ul class="menu">
                                    <li>
                                        <!-- Task item -->
                                        <a href="#">
                                            <!-- Task title and progress text -->
                                            <h3>
                                                طلب المستخدم سعيد
                                                <small class="pull-right flip">20%</small>
                                            </h3>
                                            <!-- The progress bar -->
                                            <div class="progress xs">
                                                <!-- Change the css width attribute to simulate progress -->
                                                <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                    <span class="sr-only">20% استكمل</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <!-- end task item -->
                                </ul>
                            </li>
                            <li class="footer">
                                <a href="#">شاهد جميع الطلبات</a>
                            </li>
                        </ul>
                    </li>
                    *@
                    <!-- User Account Menu -->
                    <li class="dropdown user user-menu">
                        <!-- Menu Toggle Button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <!-- hidden-xs hides the username on small devices so only the image appears. -->
                            <span class="hidden-xs">@UserHelpar.GetUser().UserName</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="flip">
                                    <a href="#" class="btn btn-default btn-flat" onclick="Logout_user()" >@Globalization.logOff</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-custom-menu -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</header>

<script>
    function Logout_user() {
        new ss().ajax("/Account/LogOff", {
                Id: "",
            }, function (e) {
                if (!e.error) {
                    location.reload();
                }
                else {
                    location.reload();
                }
            });
    }
</script>