
@{
    ViewBag.Title = "ControlPanel";
}
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            المقالات
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> لوحة التحكم</a></li>
            <li class="active">المقالات</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">جدول المقالات</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">

                        @Html.Action("ArticalGVP", "Articles")

                    </div>
                    <!-- /.box -->
                </div>
            </div>
        </div>
    </section>
</div>
