<div class="preloader"></div>
@Html.Partial("layout-theme-01/_Slider-theme-01")
<nav>
    <div class="menu-wrapper">
        <button class="open-menu">Menu</button>
        <ul class="menu">
            <li><a class="scroll-link" href="#hero">الرئيسية</a></li>
            <li><a class="scroll-link" href="#couple">منذر</a></li>
            <li><a class="scroll-link" href="#story">قصص</a></li>
            <li><a class="scroll-link" href="#events">احداث</a></li>
            <li><a class="scroll-link" href="#rsvp">تسجيل</a></li>
            <li><a class="scroll-link" href="#people">المشتركين</a></li>
            <li><a class="scroll-link" href="#gallery">المعرض</a></li>
            <li><a class="scroll-link" href="#gifts">هدايا</a></li>
            <li><a class="link" href="/ControlPanel">لوحة التحكم</a></li>
        </ul>
    </div>
</nav>
