<div class="preloader"></div>
<section id="hero" class="section-hero">
    <div class="owl-carousel owl-full-width owl-theme">
        <div class="item"><img src="~/Content/theme-01/img/placeholders/1200x800.png" alt="" class="img-as-bg"></div>
        <div class="item"><img src="~/Content/theme-01/img/placeholders/1200x800.png" alt="" class="img-as-bg"></div>
        <div class="item"><img src="~/Content/theme-01/img/placeholders/1200x800.png" alt="" class="img-as-bg"></div>
        <div class="item"><img src="~/Content/theme-01/img/placeholders/1200x800.png" alt="" class="img-as-bg"></div>
        <div class="item"><img src="~/Content/theme-01/img/placeholders/1200x800.png" alt="" class="img-as-bg"></div>
    </div>
    <div class="announcement-wrapper">
        <div class="announcement animation-chain" data-animation="fadeInUp">
            <div class="heart">
                <svg width="38px" height="35px" viewBox="0 0 38 35">
                    <use class="shape-heart" xlink:href="~/Content/theme-01/img/heart.svg#shape-heart"></use>
                </svg>
            </div>
            <div class="decor decor-inverse">
                <svg width="281px" height="51px" viewBox="0 0 281 51">
                    <use class="shape-decor" xlink:href="~/Content/theme-01/img/decor.svg#shape-decor"></use>
                </svg>
            </div>
            <h2>We're getting married!</h2>
            <h1><span class="name">Nathan</span><span class="and">&</span><span class="name">Christy</span></h1>
            <p class="date"><span>2016.09.15</span></p>
            <div class="decor">
                <svg width="281px" height="51px" viewBox="0 0 281 51">
                    <use class="shape-decor" xlink:href="~/Content/theme-01/img/decor.svg#shape-decor"></use>
                </svg>
            </div>
        </div>
        <div class="cta">
            <a href="#events" class="btn btn-primary scroll-link">RSVP Now</a>
        </div>
    </div>
    <div class="scroll-down"></div>
</section>
<nav>
    <div class="menu-wrapper">
        <button class="open-menu">Menu</button>
        <ul class="menu">
            <li><a class="scroll-link" href="#hero">Home</a></li>
            <li><a class="scroll-link" href="#couple">Couple</a></li>
            <li><a class="scroll-link" href="#story">Story</a></li>
            <li><a class="scroll-link" href="#events">Events</a></li>
            <li><a class="scroll-link" href="#rsvp">RSVP</a></li>
            <li><a class="scroll-link" href="#people">People</a></li>
            <li><a class="scroll-link" href="#gallery">Gallery</a></li>
            <li><a class="scroll-link" href="#gifts">Gifts</a></li>
        </ul>
    </div>
</nav>
