@using App.Marriage.Models.UserMV
@model  IEnumerable<App.Marriage.Models.UserMV.UserViewModel>
@{
    ViewBag.Title = "Users";

}
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        الصلاحيات
        <small>ادارة صلاحيات المستخدمين</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> لوحة التحكم</a></li>
        <li class="active">صلاحيات المستخدمين</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">

    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-tag"></i> قائمة الصلاحيات</h3>
        </div>

        @Html.Action("RolePermissionsGVP", "RolePermissions")


    </div>

</section>